numpy
scipy
scikit-learn

pysqlite
sqlalchemy
pyga
python-Levenshtein
boto
jinja2
suds

# pykaldi
cython<0.24
pystache
pyyaml

# utilities
wget
ipdb
nose
sphinxcontrib-napoleon

flask
theano

twisted
autobahn
protobuf

ufal.morphodita
