database_surface_forms*
database_SRILM_*
database_c2v2f*
english.tagger
english.dict
cities*.txt
boroughs*.txt
stops*.txt
states*.txt
streets*.txt
cities*.csv
boroughs*.csv
stops*.csv
states*.csv
streets*.csv
stops-add.txt
concat_stops.sh
errors.txt
