#!/usr/bin/env python
# vim: set fileencoding=UTF-8 filetype=python :
#
#  When the configuration file is loaded, several automatic transformations
#  are applied:
#
# 1) '{cfg_abs_path}' as a substring of atomic attributes is replaced by
#    an absolute path of the configuration files.  This can be used to
#    make the configuration file independent of the location of programs
#    using the configuration file.
#
# or better user use the as_project_path function
import os


config = {
    'ASR': {
        'debug': False,
        'type': 'Kaldi',
        'Kaldi': {
            'debug': False,
            'verbose': 0,
            'max_dec_frames': 10,
            'wst': os.path.abspath('PublicTransportInfoCS/hclg/models/words.txt'),
            'config': os.path.abspath('../resources/asr/voip_cs/kaldi/decode.conf'),
            'model': os.path.abspath('PublicTransportInfoCS/hclg/models/final.mdl'),
            'hclg': os.path.abspath('PublicTransportInfoCS/hclg/models/HCLG.fst'),
            'silent_phones': 'PublicTransportInfoCS/hclg/models/silence.csl',
        },
    },
}
